# Debug configuration options

# Copyright (c) 2015 Wind River Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

config ENABLE_TRACING
	bool "Enabling Tracing"
	select SCHED_LPWORK
	help
	  Enable system tracing. This requires a backend such as SEGGER
	  Systemview to be enabled as well.

if ENABLE_TRACING

choice
	prompt "Type of Tracing"
	default TRACE_USE_NOCTF

config TRACE_USE_NOCTF
	bool "Print CPU/Memory Usage tracing in console"
	help
	   Enable tracing of the CPU usage.

config TRACE_USE_CTF
	bool "Use CTF Tracing"
	help
	   Enable tracing of the CPU usage.
endchoice


choice
	prompt "Tracing backend"
	depends on TRACE_USE_CTF
	default CTF_BACKEND_TRACING_SERIAL

config CTF_BACKEND_TRACING_SERIAL
	bool "Serial "
	help 
	  Use the serial line to transfer the CTF data 

config CTF_BACKEND_ITM
	bool "ITM"
	depends on !ARMV7M_ITMSYSLOG
	help 
	  Use the ITM facilities to transfer the CTF data
endchoice

if CTF_BACKEND_TRACING_SERIAL
choice 
	prompt "Select UART backend"
	default CTF_BACKEND_SERIAL_NONE
config CTF_BACKEND_SERIAL_NONE
	bool "None"
	select DEV_NULL

config CTF_BACKEND_SERIAL_UART1
	bool "U(S)ART1"
	depends on USART1_SERIALDRIVER

config CTF_BACKEND_SERIAL_UART2
	bool "U(S)ART2"
	depends on USART2_SERIALDRIVER

config CTF_BACKEND_SERIAL_UART3
	bool "U(S)ART3"
	depends on USART3_SERIALDRIVER

config CTF_BACKEND_SERIAL_UART4
	bool "U(S)ART4"
	depends on USART4_SERIALDRIVER

config CTF_BACKEND_SERIAL_UART5
	bool "U(S)ART5"
	depends on USART5_SERIALDRIVER

config CTF_BACKEND_SERIAL_UART6
	bool "U(S)ART6"
	depends on USART6_SERIALDRIVER

config CTF_BACKEND_SERIAL_UART7
	bool "U(S)ART7"
	depends on USART7_SERIALDRIVER

endchoice
endif

if CTF_BACKEND_ITM
	config CTF_BACKEND_ITM_SWODIV
	 int "ITM SWO diviser"
	 default 1457
endif


config  ASYNC_CTF_TRACING
	 bool "Use Async thread"
	 depends on TRACE_USE_CTF


if ASYNC_CTF_TRACING
	config ASYNC_THREAD_CTF_PRIO
	 int "Async thread prio"
	 default 50

	config ASYNC_THREAD_CTF_STACK
	 int "Async thread stack size"
	 default 2048

	config ASYNC_THREAD_CTF_NAME
	 string "Async thread name"
	 default "tracer"

	config ASYNC_THREAD_CTF_WAIT_THRESHOLD
	 int "Waiting timer before flushing to the output in ms"
	 default 100

	config CTF_RING_BUFFER_SIZE
		int "Data ring buffer size"
		depends on TRACE_USE_CTF
		range 32 65536
		default 256	
endif

endif
